# Laravel estándar
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*
.phpunit.result.cache
Homestead.yaml
Homestead.json
*.sqlite

# Archivos de Laravel Idea plugin (opcional, para PHPStorm)
.idea

# Archivos de Docker
docker/mysql/
docker/php/wait-for-db.sh

# Logs
storage/logs/*.log
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Carpeta temporal si has copiado proyecto desde contenedor
/src/.DS_Store
/src/Thumbs.db

# Opcional si vuelves a montar src como volumen
src/vendor
src/node_modules
src/public/storage
src/storage/*.key
src/.env
src/.phpunit.result.cache
